* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    padding-top: 80px;
}

.recipe-content {
    padding: 30px 20px;
}

.navbar {
    background-color: #A47251;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar-brand {
    text-decoration: none;
    color: #DCF0C3;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navbar-logo-wrap{
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo {
    font-size: 3rem;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    margin-left: auto;
    
}

.navbar-link {
    color: #DCF0C3;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 1.1rem;
    transition: background-color 0.3s, color 0.3s;
    
    
}

.navbar-link:hover {
  color: #7dd3fc;
  background-color: #334155;
  scale: 1.10;
}

.recipe-card {
    background-color: #DD9E59;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: 2px solid transparent;
}

.recipe-card:hover {
    background-color: #F0D8A1;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

#sort-label {
    margin-right: 20px;
    font-weight: bold;
}